html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }

    .content  {
        margin-left: 0px;
    }

    a.navbar-brand {
        float: none;
    }

    .menu_left {
        -webkit-transform: translateX(-230px);
        -moz-transform: translateX(-230px);
        -ms-transform: translateX(-230px);
        -o-transform: translateX(-230px);
        transform: translateX(-230px);
    }
}
@media(min-width:768px) {
    .menu_left {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }

    .content  {
        margin-left: 230px;
    }

    a.navbar-brand {
        float: left;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.main-header {
    height: 50px;
    position: fixed;top: 0;
    z-index: 800;
}

.main-header, #navigations {
    background-color: #367fa9 !important;
    color: #fff !important;
    border: 0 !important;
}

.show-menu {
    height: 30px; width: 40px;
    padding: 5px;
    margin: 10px 5px;
    border: 1px solid #eeeeff;
    cursor: pointer;
}

#navigations {
    margin-left: 50px;
}

#navigations a {
    border: 0 !important;
}

a.navbar-brand {
    display: block !important;
    text-align: center;
    color: white !important;
}

.menu_left {
    position: fixed;
    top: 0;
    margin-top: 50px;
    min-height: 100%;
    width: 230px;
    z-index: 810;
    background-color: #222;
    color: white !important;

    -webkit-transition:-webkit-transform .3s ease-in-out,width .3s ease-in-out;
    -moz-transition:-moz-transform .3s ease-in-out,width .3s ease-in-out;
    -o-transition:-o-transform .3s ease-in-out,width .3s ease-in-out;
    transition:transform .3s ease-in-out,width .3s ease-in-out;
}

ul.lv1
{
    background-color: #7d7d7d;
}

ul.lv2
{
    background-color: #656565;
}

ul.lv3
{
    background-color: #424141;
}

ul.lv1 > li > a, ul.lv1 > li > label {
    padding-left: 15px;
}

ul.lv2 > li > a, ul.lv2 > li > label {
    padding-left: 30px;
}

ul.lv3 > li > a, ul.lv3 > li > label {
    padding-left: 45px;
}

.nav > li > label {
    position: relative;
    display: block;
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #080808;
    margin: 0px;
}

.nav > li > a {
    color: white !important;
    border-bottom: 1px solid #2f2f2f;
}

ul.tree {
    display: none;
}

.content  {
    padding-top: 65px;
}

ul li a:hover {
    color: #332419 !important;
}


